.wrapper {
    background:rgb(141, 169, 231);
    height:800px;
}

.column {
    background:rgb(178, 223, 182);
    border:1px solid black;
}
.row {
    height:150px;
    /* border:1px solid blue; */
}

.card-title {
    font-size:9pt;
}

.characterRow {
    height:100px;
}
