

body {
    /* font-size:9pt; */
}

.wrapper {
    background:rgb(141, 169, 231);
    /* height:800px; */
}

.card-header {
   font-size: 9pt;
}

.characterRow {
    /* height:200px; */
}

.enemiesRow {
    /* height:200px; */
    
}

#enemyCol1 {
    display:none;
    
}
#enemyCol2 {
    display:none;
    margin-left:-15px;
}
#enemyCol3 {
    display:none;
}
#enemyCol4 {
    display:none;
}